

 
 
#oldsix-prompt1,#oldsix-prompt2{
    margin: 10px auto 10px auto !important;
}
 
 

#sixgod-layout-slider,#sixgod-layout-save,#sixgod-layout-slider2{
    max-width: 40% !important;
    padding: 10px;
    margin: 20px auto;
   
}

.sixgod-hide{
    display: none !important;
}
.progressDiv{
    z-index: 1;
    top: -5px;
}

#txt2img_gallery_container{
    position: relative;
    z-index: 0;
}

#img2img_results, #txt2img_results{
    top: 1.5em;
}


 
 
 
.sixgod-rightslid{

    width: 30px !important;   
    height: 100%;
    position: fixed;
    right: 0;  
    top:10%;
    border-radius: 5px;
    background:  var(--body-background-fill) ;
    transition: width 0.1s ease-in-out;
    z-index: 999;
    opacity:0;
    border: 1px solid #ccc;
  

}

.sixgod-rightslid:hover{
    width: 600px !important;  
    opacity:1;
    
}
.sixgod-rightslid:hover .tabs{
    
    opacity:1;
}

.sixgod-rightslid .tabs{  
    
    opacity:0;
}

.card{
   
    margin: 0.2rem!important;  
    width: 11rem!important;  
    height: 15rem!important;  
}
 
.extra-network-cards {
    padding-bottom: 15rem!important;
}


 