

 
 
#oldsix-prompt1,#oldsix-prompt2{
    margin: 10px auto 10px auto !important;
}
 
 

#sixgod-layout-slider,#sixgod-layout-save,#sixgod-layout-slider2{
    max-width: 40% !important;
    padding: 10px;
    margin: 20px auto;
   
}